.title {
    background-color: $banner-bg-color;
    padding-bottom: 8px;
    color: white;
    font-weight: bold;
}

.even {
    background-color: white;
    padding: 0 100px 15px 100px;
    min-height: $popular-height;
}

.uneven {
    background-color: #f7f7f7;
    padding: 0 50px 15px 50px;
    min-height: $popular-height;
}

.img-margin {
    margin-left: 71px;
}

body {
    overflow:hidden;
}

li {
  list-style: none outside none
}

.main-wrapper {

}

.img-circle {
    border-radius: 50%;
}

.img-circle.center {
  margin-left:auto;
  margin-right:auto;
  float: none !important;
  display:block;
}

.popular-padding {
    padding: 17px 0 17px 0;
}

.instructions {
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: $banner-bg-color;
    color: white;
    font-weight: bold;
}

.img-instructions {
    margin-left: 9px;
}

.text-capitalize {
  text-transform: capitalize;
}
