.drink-header {
    background-color: $banner-bg-color;
    color: white;
    font-weight: bold;
}

.drink-image {
    padding-top: 30px;
}

.description {
    min-height: $info-height;
    padding: 0 130px 0px 130px;
}

.origin {
    min-height: 265px;
}

.characteristic {
    min-height: $info-height;
}

.best-with {
    min-height: $info-height;
    padding-bottom: 500px;
}
